#  Local .terraform directories
**/.terraform/*
.terraform.lock.hcl
# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
**/bin/*
**/secrets/*
**/private/*
.DS_Store
convert
sonar-check.sh
.cache/