GUACAMOLE_ENDPOINT={{ guacamole_exporter_endpoint }}
GUACAMOLE_USERNAME={{ guacamole_exporter_username }}
GUACAMOLE_PASSWORD={{ guacamole_exporter_password }}
GUACAMOLE_DATASOURCE={{ guacamole_exporter_datasource }}
