###### Requirements without Version Specifiers ######`
pip
setuptools
# molecule
# molecule-docker
aiohttp
ansible
ansible-lint
ansible-parallel
ansiblemetrics
azure-mgmt-redhatopenshift
boto3
cryptography
hvac
hvac[parser]
kerberos
pypsrp
pyspnego
pywinrm
requests
requests[security]
requests[socks]
yamllint